@charset "utf-8";
/*-----------------------------------------------------------------------/
	Description: style import
	Version: 2.0
	Author: AdTECHNICA
/*----------------------------------------------------------------------*/
@import url("../../_css/default.css");
@import url("../../_css/style.css");
@import url("../../_css/responsive.css");
